---
layout: default
permalink: /search/
---

<div class="searchForm">
  <form id="searchForm" method="get">
    <input type="text" name="q" placeholder="Search" id="searchField" />
    <input type="submit" value="Search!" id="searchButton" />
  </form>
</div>
<br><br>
<div id="results"></div>

<script type="text/javascript">
  function getQueryVariable(variable){
    var query = window.location.search.substring(1);
  }
</script>

<script>
var documents = [{% for data in site.recipes %}
{
  "title": "{{ data.title | xml_escape }}",
  "url": "{%if site.baseurl %}{{ site.baseurl }}/{% endif %}{{ data.url | xml_escape }}",
  "category": "{{ data.categories.first }}",
  "image": "{{ data.featured_image }}",
  "tags": "{{ data.tags}}",
  "content": "{{ data.recipe.ingredients_markdown | strip_html | strip_newlines | xml_escape }}"
}{% unless forloop.last %},{% endunless %}{% endfor %}
];

</script>
