.recipe {
  border: 1px solid #dedede;
  padding: 18px 25px 6px;

  .recipe-heading {
    border-bottom: 1px solid #dedede;
    margin: 0 -25px 25px -25px;
    padding: 0 25px 20px;
    overflow: hidden;

    h2 {
      font-size: 20px;
      float: left;
      color: #313131;
      margin-bottom: 8px;
    }

    .recipe-print {
      float: right;
      font-size: 12px;
      font-weight: 700;
      margin-top: 4px;
      border: 1px solid #689f3b;
      padding: 0 12px;
      height: 28px;
      line-height: 26px;
      transition: 0.25s;
    }

    a.recipe-print {
      color: #689f3b;
    }

    .recipe-meta {
      clear: both;
      color: #888;
      font-size: 12px;
      line-height: 1.5;

      span {
        margin-right: 15px;
      }
    }
  }

  .recipe-content {

    h2, h3 {
      color: #888;
    }

    h2 {
      text-transform: uppercase;
      margin-bottom: 18px;
      letter-spacing: 1px;
    }

    ul {
      margin: 0;
      padding-left: 18px;

      li {
        padding-bottom: 6px;
        line-height: 1.6;
        list-style: none;
        position: relative;
        margin-bottom: 7px;

        &:before {
          content: "";
          position: absolute;
          width: 5px;
          height: 5px;
          border: 1px solid #b3b3b3;
          display: inline-block;
          top: 8px;
          left: -18px;
          transform: rotate(-13deg);
          background: none !important;
        }
      }
    }
  }
}
