@media print {
	aside,
	header,
	nav {
		display: none;
	}

	a {
		text-decoration: none;
		color: #000;
	}

	h1 {
		font-size: 2em;
		margin: 0 0 10px;
	}

	body {
		font-family: 'Fira Sans', sans-serif;
		font-size: 0.8em;
	}

	.cta,
	.recipe-body,
	.sharing,
	.sidebar,
	.take-me,
	footer,
	img,
	nav,
	time {
		display: none;
	}

	.embed-container { display: none; }

	.recipe-overview {
		padding: 0;
		margin: 0 0 30px;

		svg {
			position: relative;
			top: 6px;
		}

		span {
			margin: 0 18px 0 3px;
		}

		li {
			padding: 0;
			margin: 0;
			display: inline-block;
		}
	}

	.recipe-contents {
		display: flex;

		.ingredients {
			width: 200px;
			padding: 0 43px 0 0;
		}

		.directions {
			flex: 1;
		}
	}

	ol,
	ul {
		padding-left: 17px;
		margin: 0;
	}

	ol li {
		margin: 10px 0 0;
	}
}
