---
layout: default
---
<article class="recipe" itemscope itemtype="http://schema.org/Recipe">

  {% if page.video %}
  <div class="embed-container">
    <iframe src="{{ page.video }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  {% endif %}

  <header class="recipe-heading">
    <h2 class="name">{{ page.title }}</h1>
    <a href="#" class="recipe-print" data-print="print.css"><i class="fa fa-print"></i> Print this</a>
    <div class="recipe-meta">
      <span><i class="fa fa-user"></i> Serves <span class="servings" itemprop="recipeYield">{{ page.recipeYield }}</span></span>
      <span><i class="fa fa-clock-o"></i> Prep Time: <time datetime="PT{{ page.prepTime }}" itemprop="prepTime">{{ page.prepTime }}</span>
      <span><i class="fa fa-clock-o"></i> Cook Time: <time datetime="PT{{ page.cookTime }}" itemprop="cookTime">{{ page.cookTime }}</span>
    </div>
  </header>

  <div class="recipe-content">
    {{ content }}
  </div>

</article>
