---
layout: default
---
<article class="recipe" itemscope itemtype="http://schema.org/Recipe">
  {% if page.video %}
  <div class="embed-container">
    <iframe src="{{ page.video }}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
  {% endif %}

  <h1>{{ page.title }}</h1>

  <ul id="recipe" class="recipe-overview">
		<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipeYield }}</span></li>
		<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.prepTime }}</span></li>
		<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.cookTime }}</span></li>
    <li title="Print Recipe">
      <a href="#" onclick="window.print();" class="recipe-print" data-print="print.css"><i class="fa fa-print"></i> Print this</a>
    </li>
	</ul>

  <div class="recipe-content">
    {{ content }}
  </div>

</article>
